h1 p body {
  margin: 0;
}

p body {
  font-size: 20px;
}

h1 {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

header {
  background-color: rgb(244, 79, 79);
  text-align: center;
  margin-bottom: 20px;
}

main {
  margin: 10px 10px;
}

#parent {
  display: flex;
  justify-content:space-around
}

.contents {
  padding: 10px, 15px;
  margin: 20px, 0;
  background-color: white;
  border: 3px solid rgb(238, 204, 204);
  flex-basis: 25%;
  text-align: center;
}

h2 {
  size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
}

h2::before {
  content: "●";
  color: rgb(239, 111, 139);
}

.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

.content {
  margin: 10px 0;
  flex-basis: 70%;
}

footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(193, 234, 251);
}

a:hover {
  color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
  #parent {
    flex-direction: column;
    display: flex;
    }
  }

img {
  width: 200px;
  height: 150px;
}